
h1{
    position: relative;
    bottom: 445px;
    left: 20px;
}

.username{
    position: relative;
    left: 40px;
    top: 50px;
    font-size: 23px;
}

.container{
    background-color: #36393f;
    color: white;
    border: none;
    margin-top: 0%;
    margin-left: 32.3%;
    margin-right: 30%;
    padding-bottom: 115px;
    border-radius: 10px;
    max-width: 400px;
    min-width: 400px;
    max-height: 550px;
    min-height: 550px;
}

.container .banner{
    background-color: #404349;
    /* background-image:url(1.png); */
    background-repeat:no-repeat;
    padding-bottom: 100px;
    border-radius: 10px;
}

.circle{
    border-radius: 100%;
}

.container .banner .logo{
    background-color: #404349;
    /* background-image:url(discord-logo.png); */
    width: 22%;
    height: 9%;
    border: 10px solid #36393f;
    position: relative;
    left: 25px;
    top: 150px;
}

.server-balk{
    position: relative;
    bottom: 30px;
    right: 30px;
    margin-left: 164px;
}

.server-balk .text{
    position: relative;
    left: 150px;
}

.info-colom{
    background-color: #404349;
    border-radius: 15px;
    color: white;
    position: relative;
    top: 40px;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 60px;
    max-width: 350px;
}

.info-colom .text{
    max-width: 320px;
}

.info-colom .text{
    position: relative;
    left: 15px;
    top: 10px;
}

.join-button{
    border: none;
    color: black;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #5865F2;
    border-radius: 15px;
    position: relative;
    top: 80px;
    left: 30px;
    padding-right: 136px;
}

.p{
    margin-left: 200px;
}

.status-circle{
    border-radius: 50px;
    background-color: grey;
    position: relative;
    height: 20px;
    width: 20px;
    left: 60px;
    top: 50px;
    border: 5px solid #36393f;
}

.inside-circle{
    position: relative;
    border-radius: 50px;
    background-color: #404349;
    height: 10px;
    width: 10px;
    left: 5px;
    top: 5px;
}

body {
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    background-size: 300% 300%;
    background-color: #5865F2;
  }

  a{
    text-decoration: none;
    color: white;
  }